@media only screen and (min-width: 980px) {
  .mobile-top-nav {
    display: none;
  }
  .search {
    padding: 0 25px;
  }
  .nav-logo {
    left: 48%;
  }
  .main-image {
    width: 55.333%;
    height: 100%;
  }
  .side-image {
    width: 44.66%;
    max-height: 272px;
  }
  nav {
    .hamburger {
      input[type="checkbox"] {
    	display: none;
      }
      label {
    	display: none;
    	font-size: 2em;
      }
    }
  }
}

@media only screen and (max-width: 1025px){
  .social-list {
    display: none;
  }
  .search {
    padding: 0 10px;
  }
  .nav-logo {
    left: 48%;
  }
}


@media only screen and (max-width: 980px) {
  .header-nav {
    display: none;
  }
  .mobile-top-nav {
    float: right;
  }
  .social-list {
    display: none;
  }
  .block-right {
    display: none
  }
  .block-left {
    display: none;
  }
  .main-image {
    width: 100%;
    height: 300px;
  }
  .side-image {
    height: 200px;
  }
  nav {
    .hamburger {
      input[type="checkbox"] {
    	display: none;
      }
      .burger {
        position: absolute;
        left: 0;
        margin-top: -15px;
        padding-left: 20px;
        label {
      	display: block;
      	font-size: 2em;
        }
      }
    }
  }
}


@media only screen and (max-width: 40em) {
  body {
    background-color: black;
  }
  .header-nav {
    display: none;
  }
  .ticker {
    display: none;
  }
  .mobile-top-nav {
    float: right;
    display: block;
  }
  .nav-logo {
    left: 43%;
  }
}
