@media only screen and (min-width: 980px) {
  .mobile-top-nav {
    display: none;
  }
  .search {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 1025px){
  .social-list {
    display: none;
  }
  .search {
    padding: 0 10px;
  }
}


@media only screen and (max-width: 980px) {
  .header-nav {
    display: none;
  }
  .mobile-top-nav {
    float: right;
  }
  .social-list {
    display: none;
  }
  .block-right {
    display: none
  }
  .block-left {
    display: none;
  }
}


@media only screen and (max-width: 40em) {
  body {
    background-color: black;
  }
  .header-nav {
    display: none;
  }
  .gear {
    display: none;
  }
  .mobile-top-nav {
    float: right;
    display: block;
    color: red;
  }
}
